<div class='container row'>
  <div class="col s12">
    <h4 id="test">Character Information</h3>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>House</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each characters}}
        <tr>
          <td> {{c_first}} {{c_last}} </td>
          <td> {{c_house}} </td>
          <td> {{c_desc}} </td>
          <td>
            <a href="/characters/{{c_id}}/update">
              <i class="tiny material-icons">mode_edit</i>
            </a>
          </td>
          <td>
            <form action="/characters/{{c_id}}?_method=delete" method="post">
              <a class="btn" type="submit" value="delete">
                <i class="tiny material-icons">delete</i>
              </a>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
